* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
  }
  
  #regForm {
    background-color: #370B55;
    margin: 100px auto;
    font-family: sans-serif;
    padding: 40px;
    width: 50%;
    min-width: 300px;
    border-radius: 12px;
    color: #fff;
  }
  
  h1 {
    text-align: center;  
  }
  
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }

  
  button {
    background-color: #4D4D4D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
 .support-process table, .support-process td, .support-process th {
    border: 1px solid;
  }
  
  .support-process table {
    width: 100%;
    border-collapse: collapse;
    background-color: #8136B2;
  }
  .support-process table td{
    padding: 10px;
  }
  input[type="radio"] {
    opacity: 0;
    width: 2rem;
    height: 1em;
    background-color: #fff;
    position: absolute;
  }
  label {
    background-color: #a74dce;
    color: #000;
    border: 1px solid #000;
    display: block;
    padding: 10px;
    width: 36%;
    text-align: center;
    border-radius: 6px;
    color: #fff;;
}
  input[type="radio"]:checked+label {
    background-color: #65299d;
    color: #fff;
  }
 .formPagination{
    overflow:auto;
    margin-top: 20px;
 }
.customOptions {
    display: flex;
}
.customOptions .option-colum {
    flex: 1;
}
.customOptions label{
    width: 100%;
}