* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #fff;
  }
  
  #regForm {
    background-color: #370B55;
    margin: 100px auto;
    font-family: sans-serif;
    padding: 40px;
    width: 80%;
    min-width: 300px;
    border-radius: 12px;
    color: #fff;
  }
  
  h1 {
    text-align: center;  
  }
  
  
  /* Hide all steps by default: */
  .tab {
    display: none;
    text-align: center;
  }

  .tab p {
    font-size: 20px;
  }

  .tab.active{
    display: block;
  }

  span.invalid-message {
    display: block;
    color: #fff;
    background: red;
    padding: 5px;
    border-radius: 7px;
    width: 20%;
    margin: 7px auto;
  }
  
  button {
    background-color: #4D4D4D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #4D4D4D;
    display: none;
  }
  
  .support-flow table {
    width: 80%;
    background: #fff;
    margin: 0 auto;
    border-collapse: collapse;
  }
  .support-flow table tr {
    color: #000;
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }
  .support-flow table tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .support-flow .processTable{
    width: 100%;
  }
  .support-flow table td{
    padding: 10px;
    width: 33%;
  }
  input[type="radio"] {
    opacity: 0;
    width: 2rem;
    height: 1em;
    background-color: #fff;
    position: absolute;
  }
  .customOptions.question label, label {
    background-color: #a74dce;
    color: #000;
    border: 1px solid #000;
    display: block;
    padding: 10px;
    width: 30%;
    text-align: center;
    border-radius: 6px;
    color: #fff;;
}
  input[type="radio"]:checked+label {
    background-color: #65299d;
    color: #fff;
  }
 .formPagination{
    overflow:auto;
    margin-top: 20px;
 }
.customOptions {
    display: flex;
}
.customOptions .option-colum {
    flex: 1;
    margin: 0px 10px;
}
.customOptions label{
    width: 100%;
}
.customOptions.question .option-colum {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
input#numSites {
  height: 31px;
  font-size: 21px;
  text-align: center;
  width: 100px;
  border-radius: 5px;
}

span.CustProjQuestion {
  font-size: 14px;
  background: yellow;
  color: #000;
  padding: 9px;
  display: block;
  width: 78%;
  text-align: center;
  margin: 11px auto 0;
  border-radius: 15px;
}

span.supportPrice {
  text-decoration: underline;
}
a{
  color: #fff;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  border: 1px solid #ccc;
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 13px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.SowCta {
  background-color: #a74dce;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 8px auto;
}
.oem-message{
  display: none;
}